/** GENERAL SECTION **/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Chelsea Market', cursive;
    font-family: 'Unkempt', cursive;
    line-height: 16px;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
}

a                                                       /* all links */
{
    text-decoration: none;
}

.centerContainer                                        /* core background image settings */
{   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

#bodyRules .centerContainer, #bodyStart .centerContainer,  
#addLandingBody .centerContainer, #subLandingBody .centerContainer,       /* general background pic for landing pages*/
#bodyReport .centerContainer
{   
    background-image: url("../img/space-rules-bg.png");
}

main h1                                                 /* all headings */
{
    font-family: 'Chelsea Market', cursive;;
    font-size: 5rem;
    padding-top: 90px;
    text-align: center;
}

.subheadingTxt                                          /* all subheadings */
{
    font-size: 2.2rem;
    margin-top: 10px;
    text-align: center;
}

.gameButtons > a, .gameButtons > form > input,                                   /* all game buttons' text styles */
#mainReport .gameButtons > input

{
    font-size: 2rem;
    font-weight: 700;
    border-radius: 7px;
    padding: 12px;
    display: inline-block;
    z-index: 3;
}

.gameButtons > a:link, .gameButtons > form > input:link,                    /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:link
{
    color: #fff;
    border: #fff solid 1px;
    background-color: none;
}

.gameButtons > a:visited, .gameButtons > form > input:visited,               /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:visited
{
    color: #fff;
    border: #fff solid 1px;
    background-color: none;
}

.gameButtons > a:hover, .gameButtons > form > input:hover,                   /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:hover 
{
    color: #fff;
    border: #fd6109 solid 1px;
    background-color: #fd6109;
}

.highlightWord                                                               /* all highlighted words */
{
    color: #fd6109;
    font-weight: 500;
}



/** LAUNCH PAGE **/
#bodyLaunch .centerContainer                            /* launch background pic */
{
    background-image: url("../img/space2-bg.png");
}

#mainLaunch h1                                          /* launch page heading */
{
    padding: 80px 100px 0 100px;
    line-height: 90px;
}

#bodyLaunch section:last-child                          /* buttons section */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bodyLaunch section:last-child > div:nth-child(1)       /* left game button */
{
    justify-self: end;
    margin-right: 40px;
}

#bodyLaunch section:last-child > div:nth-child(2)       /* right game button */
{
    justify-self: start;
    margin-left: 40px;
}

#mainLaunch .gameButtons > a                            /* game buttons */
{
    margin-top: 165px;
}

#bodyLaunch footer i                                    /* audio button */
{
    font-size: 1.3rem;
    margin-top: 31%;
    margin-left: 90%;
    color: #fff;
}



/** RULES PAGE **/
#mainRules h1                                           /* Rules page heading */
{
    padding: 50px 100px 0 100px;
    line-height: 90px;
}

#mainRules .gameButtons, #mainStart > section:last-child,                      /* NEXT button grid */
#mainAddLanding .gameButtons, #mainSubLanding .gameButtons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainRules .gameButtons > a                             /* NEXT button */
{
    margin: 10px 40px 0 0;
    grid-column-end: 3;
    justify-self: end;
}

#rulesContent                                           /* Rules content section */
{
    background-color: rgba(5, 5, 5, 0.534);
    margin: 55px 40px 40px 40px;
}

#rulesContent > p                                       /* Rules content */
{
    padding: 20px 40px 0 40px;
    font-size: 1.5rem;
    line-height: 35px;
}

#rulesContent > p:last-child                            /* final paragraph */
{
    padding-bottom: 20px;
}



/** START PAGE **/
#mainStart                                              /* Start main section */
{
    padding: 150px 0 0 70px;

}

#mainStart form > label                                 /* Start label text */
{
    display: block;
    font-size: 2rem;
}

#userName > input                                       /* text box */
{
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-left: 5px;
    width: 80%;
}

#mainStart .gameButtons > form > input                   /* difficulty settings buttons */
{
    display: inline-block;
    margin: 20px 40px 20px 0;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    font-weight: 700;
    border-radius: 7px;
    padding: 10px 20px;
}

#mainStart > section:last-child > div, #mainAddLanding > section > div > a,           /* Start & Landing Pages - Next button  */
#mainSubLanding > section > div > a, #mainSubLanding > section > div > a
{
    grid-column-end: 3;
    justify-self: end;
    margin: 250px 40px 0 0;
}



/** ADDITION & SUBTRACTION LANDING PAGES **/
#mainAddLanding h1, #mainSubLanding h1                                              /* Landing Pages headings */
{
    padding: 50px 90px 0 100px;
    line-height: 90px;
}

.dummyEquation                                                                      /* fake equation section */
{
    position: relative;
    display: inline-block;
    margin: 20px 0 0 100px;
    justify-self: center;
}

.dummyEquation > img                                                                /* fake equation image */
{
    width: 500px;
    transform: rotateY(180deg);
}

.dummyEquation > div > p                                                            /* fake equation text */
{
    position: absolute;    
    font-size: 2.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 55%;
    width: 30%;
    height: 20%;
    background-color: #fd6109;
    padding: 20px 0 40px 0;
    text-align: center;
    font-weight: 700;
    z-index: 30;
}

#mainAddLanding .gameButtons > a, #mainSubLanding .gameButtons > a                 /* PLAY button */
{
    margin-top: 160px;
}



/** WIN & LOSE PAGES **/
#bodyWinPage > .centerContainer                                                     /* Win page background image */
{
    background-image: url(../img/winner-page.gif);
}

#bodyLosePage > .centerContainer                                                    /* Lose page background image */
{
    background-image: url(../img/loser-page.gif);
}

#bodyWinPage h1, #bodyLosePage h1                                                   /* Win & Lose headings */
{
    padding: 50px 100px 5px 100px;
    line-height: 90px;
}

#bodyWinPage .gameButtons, #bodyLosePage .gameButtons                                /* Win & Lose buttons */
{
    text-align: center;
    margin-top: 50px;
}



/** REPORT PAGE **/
#reportContent                                           /* Report content section */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(5, 5, 5, 0.534);
    margin: 75px 60px 40px 60px;
    padding: 40px 0 40px 120px;
}

#reportContent > div > p                                  /* Report content */
{
    font-size: 1.5rem;
    line-height: 55px;
}

#mainReport > section > .gameButtons > input              /* buttons' text */
{
    display: inline-block;
    margin: 20px 40px;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    font-weight: 700;
    border-radius: 7px;
    padding: 10px 20px;
}

#mainReport .gameButtons                                  /* all Report buttons */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-end: 2;
    
}