/** GENERAL SECTION **/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Chelsea Market', cursive;
    font-family: 'Unkempt', cursive;
    line-height: 16px;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
}

a                                                       /* all links */
{
    text-decoration: none;
}

.centerContainer                                        /* core background image settings */
{   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

#bodyRules .centerContainer, #bodyStart .centerContainer,  
#addLandingBody .centerContainer, #subLandingBody .centerContainer,       /* general background pic for landing pages*/
#bodyReport .centerContainer
{   
    background-image: url("../img/space-rules-bg.png");
}

main h1                                                 /* all headings */
{
    font-family: 'Chelsea Market', cursive;;
    font-size: 5rem;
    padding-top: 90px;
    text-align: center;
}

.subheadingTxt                                          /* all subheadings */
{
    font-size: 2.2rem;
    margin-top: 10px;
    text-align: center;
}

.gameButtons > a, .gameButtons > form > input,                                   /* all game buttons' text styles */
#mainReport .gameButtons > input

{
    font-size: 2rem;
    font-weight: 700;
    border-radius: 7px;
    padding: 12px;
    display: inline-block;
    z-index: 3;
}

.gameButtons > a:link, .gameButtons > form > input:link,                    /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:link
{
    color: #fff;
    border: #fff solid 1px;
    background-color: none;
}

.gameButtons > a:visited, .gameButtons > form > input:visited,               /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:visited
{
    color: #fff;
    border: #fff solid 1px;
    background-color: none;
}

.gameButtons > a:hover, .gameButtons > form > input:hover,                   /* all game buttons hover settings */
#mainReport > section > .gameButtons > input:hover 
{
    color: #fff;
    border: #fd6109 solid 1px;
    background-color: #fd6109;
}

.highlightWord                                                               /* all highlighted words */
{
    color: #fd6109;
    font-weight: 500;
}

.footerGrid i                                                                 /* all audio icons */
{
    font-size: 1.5rem;
}



/** LAUNCH PAGE **/
#bodyLaunch .centerContainer                            /* launch background pic */
{
    background-image: url("../img/space2-bg.png");
}

#mainLaunch h1                                          /* launch page heading */
{
    padding: 80px 100px 0 100px;
    line-height: 90px;
}

#bodyLaunch section:last-child                          /* buttons section */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bodyLaunch section:last-child > div:nth-child(1)       /* left game button */
{
    justify-self: end;
    margin-right: 40px;
}

#bodyLaunch section:last-child > div:nth-child(2)       /* right game button */
{
    justify-self: start;
    margin-left: 40px;
}

#mainLaunch .gameButtons > a                            /* game buttons */
{
    margin-top: 165px;
}

#bodyLaunch footer i                                    /* audio button */
{
    font-size: 1.5rem;
    margin-top: 31%;
    margin-left: 90%;
    color: #fff;
}



/** RULES PAGE **/
#mainRules h1                                           /* Rules page heading */
{
    padding: 50px 100px 0 100px;
    line-height: 90px;
}

#mainRules .gameButtons, #mainStart > section:last-child,                      /* NEXT button grid */
#mainAddLanding .gameButtons, #mainSubLanding .gameButtons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainRules .gameButtons > a                             /* NEXT button */
{
    margin: 10px 40px 0 0;
    grid-column-end: 3;
    justify-self: end;
}

#rulesContent                                           /* Rules content section */
{
    background-color: rgba(5, 5, 5, 0.534);
    margin: 55px 40px 40px 40px;
}

#rulesContent > p                                       /* Rules content */
{
    padding: 20px 40px 0 40px;
    font-size: 1.5rem;
    line-height: 35px;
}

#rulesContent > p:last-child                            /* final paragraph */
{
    padding-bottom: 20px;
}



/** START PAGE **/
#mainStart                                              /* Start main section */
{
    padding: 150px 0 0 70px;

}

#mainStart form > label                                 /* Start label text */
{
    display: block;
    font-size: 2rem;
}

#userName > input                                       /* text box */
{
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-left: 5px;
    width: 80%;
}

#mainStart .gameButtons > form > input                   /* difficulty settings buttons */
{
    display: inline-block;
    margin: 20px 40px 20px 0;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    font-weight: 700;
    border-radius: 7px;
    padding: 10px 20px;
}

#mainStart > section:last-child > div, #mainAddLanding > section > div > a,           /* Start & Landing Pages - Next button  */
#mainSubLanding > section > div > a, #mainSubLanding > section > div > a
{
    grid-column-end: 3;
    justify-self: end;
    margin: 250px 40px 0 0;
}



/** ADDITION & SUBTRACTION LANDING PAGES **/
#mainAddLanding h1, #mainSubLanding h1                                              /* Landing Pages headings */
{
    padding: 50px 90px 0 100px;
    line-height: 90px;
}

.dummyEquation                                                                      /* fake equation section */
{
    position: relative;
    display: inline-block;
    margin: 20px 0 0 100px;
    justify-self: center;
}

.dummyEquation > img                                                                /* fake equation image */
{
    width: 500px;
    transform: rotateY(180deg);
}

.dummyEquation > div > p                                                            /* fake equation text */
{
    position: absolute;    
    font-size: 2.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 55%;
    width: 30%;
    height: 20%;
    background-color: #fd6109;
    padding: 20px 0 40px 0;
    text-align: center;
    font-weight: 700;
    z-index: 30;
}

#mainAddLanding .gameButtons > a, #mainSubLanding .gameButtons > a                 /* PLAY button */
{
    margin-top: 160px;
}



/** WIN & LOSE PAGES **/
#bodyWinPage > .centerContainer                                                     /* Win page background image */
{
    background-image: url(../img/winner-page.gif);
}

#bodyLosePage > .centerContainer                                                    /* Lose page background image */
{
    background-image: url(../img/loser-page.gif);
}

#bodyWinPage h1, #bodyLosePage h1                                                   /* Win & Lose headings */
{
    padding: 50px 100px 5px 100px;
    line-height: 90px;
}

#bodyWinPage .gameButtons, #bodyLosePage .gameButtons                                /* Win & Lose buttons */
{
    text-align: center;
    margin-top: 50px;
}



/** REPORT PAGE **/
#reportContent                                           /* Report content section */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(5, 5, 5, 0.534);
    margin: 75px 60px 40px 60px;
    padding: 40px 0 40px 120px;
}

#reportContent > div > p                                  /* Report content */
{
    font-size: 1.5rem;
    line-height: 55px;
}

#mainReport > section > .gameButtons > input              /* buttons' text */
{
    display: inline-block;
    margin: 20px 40px;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    font-weight: 700;
    border-radius: 7px;
    padding: 10px 20px;
}

#mainReport .gameButtons                                  /* all Report buttons */
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-end: 2;
}



/** ADD & SUBTRACT GAMEPLAY PAGES **/
#bodyAddGameplay > .centerContainer, #bodySubGameplay > .centerContainer                        /* background image*/
{
    background-image: url(../img/main-bg-table.png);
}

#bodyAddGameplay p, #bodyAddGameplay input, #bodySubGameplay p, #bodySubGameplay input          /* all text in the gameplay */
{
    font-size: 1.2rem;
}

#bodyAddGameplay .gameQuestions,                                            /* spaceships section */
#bodySubGameplay .gameQuestions
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1200px;
    padding-top: 10px;
}

.gameQuestions p                                                            /* all questions */
{
    position: relative;
    text-align: center;
    padding: 4px 16px;
    font-weight: 700;
    color: #000;
    margin-top: 30px;
    z-index: 30;
}

.questionOne > p                                                            /* question 1 colour */
{
    background-color: #fd6109;
}

.questionTwo > p                                                            /* question 2 colour */
{
    background-color: #f86f20;
}

.questionThree > p                                                          /* question 3 colour */
{
    background-color: #f87d35;
}

.questionFour > p                                                           /* question 4 colour */
{
    background-color: #f89156;
}

.questionFive > p                                                           /* question 5 colour */
{
    background-color: #ffa875;
}

#bodyAddGameplay .gameQuestions > div > img,                                /* all spaceship images */
#bodySubGameplay .gameQuestions > div > img
{
    position: absolute;
    width: 120px;
}

.questionOne > img                                                          /* spaceship 1 position */
{
    left: 10px;
}

.questionTwo > img                                                          /* spaceship 2 position */
{
    left: 150px;
}

.questionThree > img                                                          /* spaceship 3 position */
{
    left: 290px;
}

.questionFour > img                                                          /* spaceship 4 position */
{
    left: 430px;
}

.questionFive > img                                                          /* spaceship 5 position */
{
    left: 570px;
}

#bodyAddGameplay .tableArea, #bodyAddGameplay section:last-child > div,     /* blaster, answer and laser grid */
#bodySubGameplay .tableArea, #bodySubGameplay section:last-child > div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    width: 700px;
    bottom: 140px;
}

#bodyAddGameplay main > section:last-child > .tableArea > div:first-child > img,           /* laser image */
#bodySubGameplay main > section:last-child > .tableArea >div:first-child > img
{
    height: 420px;
    grid-row: 1;
    justify-self: center;
    margin-left: 40px;
    visibility: hidden;
}

.tableArea > div:last-child > img                                                       /* laser and blaser images */
{
    height: 140px;
    justify-items: center;
    position: relative;
}

.tableArea > div                                                             /* position of laser, answer and blaster */
{   
    grid-column-start: 3;
}

.correctAns                                                                  /* answer on blaster */
{
    background-color: #fff;
    color: #000;
    position: absolute;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 5px 20px;
    margin: 40px 0 0 40px;
    border: #000 solid 2px; 
    z-index: 30;
}

#bodyAddGameplay .footerGrid, #bodySubGameplay .footerGrid                   /* Footer section under table */
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    justify-items: center;
    align-items: center;
    background-color: #da4500;
    padding: 15px 0;
    top: 663px;
    width: 700px;
}

.timerContainer > p                                                           /* Timer title */
{
    position: relative;
    margin: 20px 0 0 11px;
    z-index: 40;
}

.timerContainer                                                               /* Timer wrapper */
{
    width: 60px;
    height: 60px;
    position: relative;
}

.timerLeft                                                                     /* Left half of timer */
{
    width: 30px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #929292;
    border-radius: 100px 0 0 100px;
    z-index: 10;
    opacity: 0;
    animation: fill 90s steps(1, end) 1;
    animation-fill-mode: forwards;
}

.timerRight                                                                    /* Right half of timer */
{
    width: 30px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #929292;
    border-radius: 0 100px 100px 0;
    z-index: 10;
    opacity: 1;
    animation: mask 90s steps(1, end) 1;
    animation-fill-mode: forwards;
}

.timerRotate                                                                   /* rotating mask */
{
    /*
    The mask is slightly larger than the two halfs
    to prevent a trailing outline
    */
    width: 31px;
    height: 62px;
    position: absolute; 
    top: -1px;
    right: -1px;
    background-color: #da4500;
    z-index: 20;
    transform-origin: 0 50%;
    animation: rota 90s linear 1;
    animation-fill-mode: forwards;
}

@keyframes rota                                                                     /* Keyframes for timer */
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes fill 
{
    0% {opacity: 0;}
    50%, 100% {opacity: 1;}
}

@keyframes mask 
{
    0% {z-index: 10;}
    50%, 100% {z-index: 30;}
}

#bodyAddGameplay .gameButtons > input,                                      /* Save buttons */
#bodySubGameplay .gameButtons > input
{
    padding: 5px 10px;
    background-color: #5a3000;
    color: #fff;
    font-family: 'Unkempt', cursive;
}

.scoreKeeper                                                                /* Score background colour */
{
    background-color: #2e2e2e;
    padding: 2px 10px;
    text-align: center;
    display: inline;
}

.scoreHit, .scoreMiss                                                       /* Hit and Miss titles */
{
    display: inline;
}

.footerGrid > div:last-child > p                                            /* Rate title */
{
    margin: 15px 0 0 8px;
}

.footerGrid > div:last-child                                                /* Rate: slow */
{
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 100% 100%;
    position: relative;
    background-color: #00a516;
    visibility: visible;
}

/* .footerGrid > div:last-child                                                Rate: fast 
{
    width: 80%;
    height: 80px;
    border-radius: 100% 100% 100% 100%;
    position: relative;
    background-color: ##b80000;
    margin-top: -40px;
}*/

.rateMasking                                                                 /* Rate masking */
{
    height: 31px;
    width: 62px;
    position: absolute; 
    background-color: #da4500;
    margin-top: 35px;
}



/** MEDIA QUERIES - NB: this game was orginally designed for extra large devices (1200px and up) **/
@media (min-width: 992px) and (max-width: 1199.98px)        /* Large devices (desktops, 992px and up) */
{ 
    ... 
}


@media (min-width: 768px) and (max-width: 991.98px)         /* Medium devices (tablets, 768px and up) */
{ 
    ...
}


@media (min-width: 576px) and (max-width: 767.98px)        /* Small devices (landscape phones, 576px and up) */ 
{
    ... 
}


@media (max-width: 575.98px)                              /* Extra small devices (portrait phones, less than 576px) */
{ 
    ... 
}